/* ================= background colors ===============*/
/* ==================== text colors ================ */
/* ========== decorative elements colors ========== */
/* ========= font settings ======================== */
/* ==================== animation ================= */
/* ==================== media ================= */
body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/* ================= main placeholders ===============*/
.hero__container, .header__container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .hero__container, .header__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero__container, .header__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container, .header__container {
    width: 1200px;
  }
}

.nav-socials, .contacts, .nav__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.nav-socials__link, .contacts__link, .nav__link, .logo {
  text-decoration: none;
  color: #757575;
}

/* =================== visually-hidden =================*/
/* =================== centerd element pattern =================*/
.hero__btn, .hero__title, .hero {
  margin-left: auto;
  margin-right: auto;
}

/* =================== section heading pattern =================*/
/* ====================== line height calculation =======================*/
/* ============================ flex patterns ===========================*/
/* ============================= position pattern =======================*/
/* ============================= animation patterns =======================*/
/* =============================== svg pattern ============================*/
/* ============================ pseudoelement pattern ======================*/
/* ============================ social links icons ==========================*/
/* ============================ media pattern ======================*/
.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767.5px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
    margin-right: 93px;
  }
}

.logo__accent {
  color: #2196f3;
}

@media screen and (max-width: 767.5px) {
  .mobile__btn {
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    color: #000000;
  }
  .mobile__btn--open {
    display: block;
  }
  .menu.is-open .mobile__btn--open {
    display: none;
  }
  .mobile__btn--close {
    display: none;
  }
  .menu.is-open .mobile__btn--close {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .mobile__btn {
    display: none;
  }
}

.mobile__icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__btn:hover .mobile__icon, .mobile__btn:focus .mobile__icon {
  fill: #2196f3;
}

.menu {
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767.5px) {
  .nav__content {
    display: none;
  }
  .menu.is-open .nav__content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 48px 40px;
    width: 100%;
    height: 796px;
    background-color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .nav__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767.5px) {
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    position: relative;
    margin-right: 50px;
  }
}

.nav__link {
  font-size: 14px;
  line-height: 1.1428571429;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
.nav__link--current {
  color: #2196f3;
}
@media screen and (max-width: 767.5px) {
  .nav__link {
    font-size: 40px;
    line-height: 1.175;
  }
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .nav__link--current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

@media screen and (max-width: 767.5px) {
  .contacts {
    padding-top: 302px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 315px;
  }
}

@media screen and (max-width: 767.5px) {
  .contacts__item:first-child {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item:last-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:last-child {
    margin-bottom: 0;
  }
}

.contacts__link {
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.1666666667;
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}
@media screen and (max-width: 767.5px) {
  .contacts__link--big {
    font-size: 34px;
    line-height: 1.1764705882;
    color: #2196f3;
  }
  .contacts__link--small {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}
@media screen and (max-width: 479.5px) {
  .contacts__link--big {
    font-size: 24px;
  }
}

.contacts__icon {
  margin-right: 8px;
}
@media screen and (max-width: 767.5px) {
  .contacts__icon {
    display: none;
  }
}
.contacts__icon--smartphone {
  width: 10px;
  height: 14px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .contacts__icon--smartphone {
    width: 10px;
    height: 16px;
    fill: currentColor;
  }
}
.contacts__icon--envelope {
  width: 14px;
  height: 10px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .contacts__icon--envelope {
    width: 16px;
    height: 12px;
    fill: currentColor;
  }
}

.nav-socials {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 479.5px) {
  .nav-socials {
    gap: 5px;
  }
}
@media screen and (min-width: 768px) {
  .nav-socials {
    display: none;
  }
}

.nav-socials__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (max-width: 479.5px) {
  .nav-socials__item:not(:last-child) {
    padding-right: 5px;
  }
}

.nav-socials__link {
  font-size: 18px;
  line-height: 1.2222222222;
  color: #2196f3;
}
@media screen and (max-width: 479.5px) {
  .nav-socials__link {
    font-size: 12px;
    line-height: 1.3333333333;
  }
}

.hero {
  max-width: 480px;
  height: 400px;
  padding: 118px 0;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero/hero-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero/hero-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-tablet.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hero/hero-desktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-desktop.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.hero__btn {
  padding: 10px 24px;
  min-width: 200px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
    min-width: 216px;
  }
}/*# sourceMappingURL=main.css.map */