.benefits {
  @extend %section;
  background-color: map-get($bgcolor, 'main');
}

.benefits__container {
  @extend %container;
}

.benefits__header {
  @extend %visually-hidden;
}

.benefits__list {
  @extend %list;

  @include media(min, tablet) {
    @include flex-l(30px);
    flex-wrap: wrap;
  }

  @include media(min, desktop) {
    @include flex-m(space-between, flex-start);
    flex-wrap: nowrap;
  }
}

.benefits__item {
  &::before {
    @include pseudo(100%, 120px);
    display: inline-block;
    margin-bottom: 30px;

    background-color: map-get($bgcolor, 'accent');
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:not(:last-child) {
    @include media(max, tablet) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: map-get($breakpoints, 'tablet')) and (max-width: (map-get($breakpoints, 'desktop')) - 0.5px) {
    @include flex-basis(2, 30px);
  }
}

$pictureList: 'antenna', 'clock', 'diagram', 'astronaut';

@each $picture in $pictureList {
  .benefits__#{$picture}::before {
    background-image: url('../images/audvantages/#{$picture}.svg');
  }
}

.benefits__headline {
  margin-bottom: 10px;

  font-weight: 700;
  @include font-size();
  text-transform: uppercase;
  text-align: center;
  color: map-get($txtcolor, 'header');

  @include media(min, tablet) {
    text-align: start;
  }
}

.benefits__text {
  @include font-size(14px, 24px);
}
