.header {
  position: relative;
  border-bottom: 1px solid map-get($decolors, 'header-line');
}

.header__container {
  @extend %container;
}

.nav {
  @include media(max, tablet) {
    @include flex-m(space-between, center);
  }

  @include media(min, tablet) {
    @include flex-s;
  }
}

.logo {
  @extend %link;

  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;

  color: map-get($txtcolor, 'logo');
  font-family: $secondary;
  font-weight: 700;
  @include font-size(24px, 28px);
  letter-spacing: 0.03em;

  @include media(min, tablet) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }

  @include media(min, desktop) {
    @include font-size(26px, 31px);
    margin-right: 93px;
  }
}

.logo__accent {
  color: map-get($txtcolor, 'text-accent');
}

.mobile__btn {
  @include media(max, tablet) {
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    color: #000000;

    &--open {
      display: block;

      .menu.is-open & {
        display: none;
      }
    }

    &--close {
      display: none;

      .menu.is-open & {
        display: block;
        position: absolute;
        top: 10px;
        right: 15px;
      }
    }
  }
  @include media(min, tablet) {
    display: none;
  }
}

.mobile__icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
  @include animation(color);

  .mobile__btn:hover &,
  .mobile__btn:focus & {
    color: map-get($txtcolor, 'text-accent');
  }
}

.menu {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav__content {
  @include media(max, tablet) {
    display: none;

    .menu.is-open & {
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      padding: 48px 40px;
      width: 100%;
      height: 796px;

      background-color: map-get($bgcolor, 'main');
    }
  }

  @include media(min, tablet) {
    @include flex-s();
  }
}

.nav__list {
  @extend %list;

  @include media(min, tablet) {
    display: flex;
  }
}

.nav__item {
  @include media(max, tablet) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @include media(min, tablet) {
    &:not(:last-child) {
      position: relative;
      margin-right: 50px;
    }
  }
}

.nav__link {
  @extend %link;

  @include font-size();
  color: map-get($txtcolor, 'header');
  @include animation(color);

  &:hover,
  &:focus {
    color: map-get($txtcolor, 'text-accent');
  }

  &--current {
    color: map-get($txtcolor, 'text-accent');
  }

  @include media(max, tablet) {
    @include font-size(40px, 47px);
  }

  @include media(min, tablet) {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    &--current {
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;

        display: inline-block;
        content: '';
        width: 100%;
        height: 4px;
        background-color: map-get($txtcolor, 'text-accent');
        border-radius: 2px;
      }
    }
  }
}

.contacts {
  @extend %list;

  @include media(max, tablet) {
    padding-top: 302px;
  }

  @include media(min, tablet) {
    display: flex;
    flex-direction: column-reverse;

    margin-left: 90px;
  }

  @include media(min, desktop) {
    flex-direction: row-reverse;
    @include flex-l(30px);
    margin-left: 315px;
  }
}

.contacts__item {
  @include media(max, tablet) {
    &:first-child {
      margin-bottom: 32px;
    }
  }

  &:last-child {
    @include media(min, tablet) {
      margin-bottom: 10px;
    }

    @include media(min, desktop) {
      margin-bottom: 0;
    }
  }
}

.contacts__link {
  @extend %link;
  @include animation(color);

  @include media(max, tablet) {
    &--big {
      @include font-size(34px, 40px);
      color: map-get($txtcolor, 'text-accent');
    }

    &--small {
      @include font-size(24px, 28px);
    }
  }

  @include flex-s;
  @include font-size(12px, 14px);

  &:hover,
  &:focus {
    color: map-get($txtcolor, 'text-accent');
  }
}

.contacts__icon {
  @include media(max, tablet) {
    display: none;
  }

  margin-right: 8px;

  &--smartphone {
    @include svg(10px, 14px);

    @include media(min, desktop) {
      @include svg(10px, 16px);
    }
  }

  &--envelope {
    @include svg(14px, 10px);

    @include media(min, desktop) {
      @include svg(16px, 12px);
    }
  }

  // @include media(min, desktop) {
  //   &:first-child {
  //     @include svg(14px, 10px);
  //   }
  //   &:last-child {
  //     @include svg(10px, 14px);
  //   }
  // }
}

.nav-socials {
  @extend %list;

  margin-top: 64px;
  @include flex-l(10px, flex-start, center);

  @include media(min, tablet) {
    display: none;
  }
}

.nav-socials__item {
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.nav-socials__link {
  @extend %link;
  @include font-size(18px, 22px);
  color: map-get($txtcolor, 'text-accent');
}

// .header__container {
//   @include flex-s;
// }

// .contacts {
//  @include flex-s;
//   margin-left: auto;
// }
// .contacts__item:first-child {
//   margin-right: 50px;
// }
// .contacts__link {
//   @include flex-s;

//   color: var(--main-text-color);
//   @include animation(color);

//   &:hover,
//   &:focus {
//     color: map-get($txtcolor, 'text-accent');
//   }
// }

// .contacts__icon {
//   @include svg(16px, 12px);
//   margin-right: 10px;

//   &:last-child {
//     height: 16px;
//   }
// }
