/* ================= main placeholders ===============*/
%address {
  font-style: normal;
}

%container {
  width: 450px;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 738px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

%section {
  padding-top: 94px;
  padding-bottom: 94px;
}

%list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

%link {
  text-decoration: none;
  color: var(--main-text-color);
}

/* =================== visually-hidden =================*/
%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =================== centerd element pattern =================*/
%centred {
  margin-left: auto;
  margin-right: auto;
}

/* =================== section heading pattern =================*/
%heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: map-get($txtcolor, 'header');
}
